<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
  <br>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <h6 class="card-subtitle mb-2 text-muted">Actions</h6>
        <a href="#" class="card-link"><button type="button" class="btn btn-primary btn-sm">Create News Record</button></a>
      </div>
    </div>
  </div>
  <br>
</div>

<% include ../partials/footer.ejs %>
