<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
  <br>
  <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-information-tab" data-toggle="pill" href="#v-pills-information" role="tab" aria-controls="v-pills-information" aria-selected="true">Information</a>
      <a class="nav-link" id="v-pills-whitelist-tab" data-toggle="pill" href="#v-pills-whitelist" role="tab" aria-controls="v-pills-whitelist" aria-selected="false">Whitelist</a>
      <a class="nav-link" id="v-pills-application-tab" data-toggle="pill" href="#v-pills-application" role="tab" aria-controls="v-pills-application" aria-selected="false">Application</a>
      <a class="nav-link" id="v-pills-punishment-tab" data-toggle="pill" href="#v-pills-punishment" role="tab" aria-controls="v-pills-punishment" aria-selected="false">Punishment</a>
      <a class="nav-link" id="v-pills-broadcast-tab" data-toggle="pill" href="#v-pills-broadcast" role="tab" aria-controls="v-pills-broadcast" aria-selected="false">Broadcast</a>
    </div>
  </div>
  <div class="col-9">

    <!-- Information Panel -->
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-information" role="tabpanel" aria-labelledby="v-pills-information-tab">
        <% include ../partials/admin/information.ejs %>
      </div>

      <!-- Whitelist Panel -->
      <div class="tab-pane fade" id="v-pills-whitelist" role="tabpanel" aria-labelledby="v-pills-whitelist-tab">
        <% include ../partials/admin/whitelist.ejs %>
      </div>

      <!-- Application Panel -->
      <div class="tab-pane fade" id="v-pills-application" role="tabpanel" aria-labelledby="v-pills-application-tab">
        <% include ../partials/admin/application.ejs %>
      </div>

      <!-- Punishment Panel -->
      <div class="tab-pane fade" id="v-pills-punishment" role="tabpanel" aria-labelledby="v-pills-punishment-tab">
        <% include ../partials/admin/punishment.ejs %>
      </div>

      <!-- Broadcast Panel -->
      <div class="tab-pane fade" id="v-pills-broadcast" role="tabpanel" aria-labelledby="v-pills-broadcast-tab">
        <% include ../partials/admin/broadcast.ejs %>
      </div>

    </div>
  </div>
</div>
<br>
</div>

<% include ../partials/footer.ejs %>
