<% include ../../partials/header.ejs %>
<% include ../../partials/navigation.ejs %>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script type="text/javascript">
  setInterval(function eventPreviewFunction() {
    var eventtitle = document.getElementById("eventtitle").value;
    document.getElementById("eventtitlespan").textContent=eventtitle;

    var eventicon = document.getElementById("eventicon").value;
    document.getElementById("eventiconspan").src=eventicon;

    var eventdate = document.getElementById("eventdate").value;
    document.getElementById("eventdatespan").textContent=eventdate;

    var eventtime = document.getElementById("eventtime").value;
    document.getElementById("eventtimespan").textContent=eventtime;

    var eventinformation = document.getElementById("eventinformation").value;
    document.getElementById("eventinformationspan").textContent=eventinformation;
  }, 0 * 1000);
</script>

<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-">
      <h1>Event Creation</h1>
      <div>
        <form method="post" action="/admin/events/create">
          <div class="form-group">
            <label for="name">Event Name</label>
            <input type="text" class="form-control" id="eventtitle" name="name" value="" required>
          </div>
          <div class="form-group">
            <label for="icon">Event Icon</label>
            <input type="text" class="form-control" id="eventicon" name="icon" value="" required>
            <small class="form-text text-muted">This should be a .png file link from imgur. The event icon MUST be 250px x 250px.</small>
          </div>
          <div class="form-group">
            <label for="date">Event Date</label>
            <input type="text" class="form-control" id="eventdate" name="date" value="" required>
            <!-- <input type="date" class="form-control" id="eventdate" name="date" value="" required pattern="\d{4}-\d{2}-\d{2}"> -->
          </div>
          <div class="form-group">
            <label for="time">Event Time</label>
            <input type="time" class="form-control" id="eventtime" name="time" value="" required>
            <!-- <input type="text" class="form-control" id="eventtime" name="time" value="" required> -->
          </div>
          <div class="form-group">
            <label for="information">Event Information</label><br>
            <textarea name="information" id="eventinformation" rows="8" cols="63" required></textarea>
            <small class="form-text text-muted">You can use HTML to format the information.</small>
          </div>
          <button type="submit" class="btn btn-primary">Create Event</button>
          <button type="button" class="btn btn-info" onclick="eventPreviewFunction()">Preview</button>
        </form>
      </div>
    </div>
    <div class="col-sm">
      <h1>Event Preview</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <span id="eventiconspan"></span>
              <img src="https://i.imgur.com/vjcLEdO.png" id="eventiconspan" width="250px" height="250px" draggable="false">

            </div>
            <div class="col">
              <a href="#eventtitle" style="color:black; text-decoration:none;"><h3><span id="eventtitlespan">Event Title</span> <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6><span id="eventdatespan">00th of Month</span> @ <span id="eventtimespan">00:00am/pm AEST</span></h6>
              <div class="">
                <p><span id="eventinformationspan">Information for the event is to be filled in here.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <small class="form-text text-muted">Known issue: The image will not live update on preview, but will in production.</small>
    </div>
  </div>
  <br>
</div>

<% include ../../partials/footer.ejs %>
