<footer class="py-3 bg-dark colour-custom">
  <br>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <a class="navbar-brand" href="/"><img src="<%= weblogo %>" alt="Server Logo" height="30px" draggable="false"> <%= servername %></a><br>
          <a href="https://github.com/shadowolfyt/zander">zander Plugin GitHub Project</a><br>
          <a href="https://github.com/shadowolfyt/zander-web">zander Web GitHub Project</a>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Moderation</h6>
        <ul class="list-unstyled">
          <li><a href="/report">Report a Player</a></li>
          <li><a href="/punishments"><i class="fas fa-gavel"></i> Recent Punishments</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Policies</h6>
        <ul class="list-unstyled">
          <li><a href="/rules"><i class="fas fa-highlighter"></i> Rules</a></li>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="/apply"><i class="fas fa-edit"></i> Apply</a></li>
          <!-- <li><a href="/forums"><i class="fas fa-comments"></i> Forums</li> -->
          <li><a href="/contact"><i class="fas fa-file-signature"></i> Contact</a></li>
          <li><a href="/feedback"><i class="fas fa-comment-dots"></i> Feedback</li>
          <li><a href="/issues"><i class="fas fa-bug"></i> Report a Bug</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Platforms</h6>
        <ul class="list-unstyled">
          <li><a href="/discord"><i class="fab fa-discord"></i> Discord</a></li>
          <li><a href="/support"><i class="fab fa-patreon"></i> Patreon</a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
          <li><a href="mailto:<%= email %>"><i class="fas fa-envelope"></i> Email</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <p class="text-white">© 2019 Copyright <a href="https://github.com/benrobson8/"> Ben Robson</a></p>
  </div>

</footer>
<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
