    <footer class="py-3 bg-dark colour-custom">
      <div class="container">
        <div class="row text-left">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-home">
              <div class="card-body">
                <a class="navbar-brand" href="/"><img src="<%= weblogo %>" alt="Server Logo" height="30px" draggable="false"> <%= servername %></a><br>
                  <a href="https://github.com/shadowolfyt/zander">zander Plugin GitHub Project</a><br>
                  <a href="https://github.com/shadowolfyt/zander-web">zander Web GitHub Project</a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-6 mb-4 text-right">
            <div class="card card-home">
              <div class="card-body">
                <h4 class="card-title">Quick Links</h4>
                  <div class="card-home">
                    <div>
                      <!-- <a href="/development/plugin">Plugin Development Log</a><br>
                      <a href="/development/web">Web Development Log</a><br> -->
                      <a href="/issues">Issue Tracker</a><br>
                      <a href="/punishments">Punishments</a><br>
                      <a href="/store">Store</a>
                      <br>
                      <a href="/discord"><i class="fab fa-discord"></i></a>
                      <a href="/issues"><i class="fab fa-github"></i></a>
                      <a href="mailto:<%= email %>"><i class="fas fa-envelope"></i></a>
                    </div>
                  </div>
              </div>

              <div class="card-body">
                <h4 class="card-title">Policies</h4>
                  <div class="card-home">
                    <div>
                      <a href="/terms">Terms of Service</a><br>
                      <a href="/privacy">Privacy Policy</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; <a style="color: white;" href="https://github.com/shadowolfyt">shadowolfyt</a> 2019</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
