<% if (flashmessages) { %>
  <% if (flashmessages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= flashmessages.success %>
    </div>
  <% } %>

  <% if (flashmessages.error) { %>
    <div class="alert alert-danger" role="alert">
      <%= flashmessages.error %>
    </div>
  <% } %>
<% } %>
