<style media="screen">
  .colour-custom {
    background-color: <%= sitecolour %> !important;
  }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark colour-custom">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="<%= weblogo %>" alt="Server Logo" height="30px" draggable="false"> <%= servername %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="navbar-nav" id="navCollapse">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/players"><i class="fas fa-users"></i> Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rules"><i class="fas fa-highlighter"></i> Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report"><i class="far fa-flag"></i> Report A Player</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apply"><i class="fas fa-edit"></i> Apply</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-file-signature"></i> Contact</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
