<style media="screen">
  .colour-custom {
    background-color: <%= sitecolour %> !important;
  }
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark colour-custom">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="<%= weblogo %>" alt="Server Logo" height="35px" draggable="false"> <%= servername %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="navbar-nav" id="navCollapse">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forums"><i class="fas fa-comments"></i> Forums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apply"><i class="fas fa-edit"></i> Apply</a>
          </li>
          <!-- <li class="nav-item disablecard">
            <a class="nav-link" href="#"><i class="fas fa-users"></i> Players</a>
          </li> -->
          <% if (info) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i> Administration</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/accounts"><i class="fas fa-users"></i> Accounts</a>
              <a class="dropdown-item" href="/admin/whitelist"><i class="fas fa-list"></i> Whitelist</a>
              <a class="dropdown-item" href="/admin/application"><i class="fas fa-scroll"></i> Applications</a>
              <a class="dropdown-item" href="/admin/punishment"><i class="fas fa-gavel"></i> Punishment</a>
              <a class="dropdown-item disablecard" href="/admin/broadcast"><i class="fas fa-bullhorn"></i> Broadcast</a>
              <a class="dropdown-item disablecard" href="#"><i class="fab fa-youtube"></i> Content Creator</a>
            </div>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          <% } %>

          <!--
          <% if(!info) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-lock"></i>  Login</a>
            </li>
          <% } %>
          -->
        </ul>
    </div>

  </div>
</nav>
