<nav class="navbar navbar-expand-sm bg-dark navbar-dark colour-custom">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/assets/img/server-icon.png" alt="Server Logo" height="30px"> zander</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players"><i class="fas fa-users"></i> Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rules"><i class="fas fa-highlighter"></i> Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/punishments"><i class="fas fa-hammer"></i> Punishments</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fas fa-link"></i> Links</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://github.com/shadowolfyt/zander"><i class="fab fa-github"></i> zander Plugin GitHub Project</a>
          <a class="dropdown-item" href="https://github.com/shadowolfyt/zander-web"><i class="fab fa-github"></i> zander Web GitHub Project</a>
          <a class="dropdown-item" href="/issues"><i class="fab fa-github"></i> GitHub Issue Tracker</a>
          <a class="dropdown-item" href="/discord"><i class="fab fa-discord"></i> Discord</a>
          <a class="dropdown-item" href="mailto:support@example.com"><i class="fas fa-envelope"></i> Email</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
