{
  "databasehost": "localhost",
  "databaseuser": "zander",
  "databasepassword": "Passwordzander321",
  "databasedatabase": "zander",

  "discordlink": "https://www.discordapp.com/",
  "githubissuetrackerlink": "https://github.com/shadowolfyt/zander/issues/new",

  "applicationlistenport": "8080"
}
