{
  "databasehost": "localhost",
  "databaseuser": "zander",
  "databasepassword": "Passwordzander321",
  "databasedatabase": "zander",

  "discordlink": "https://www.discordapp.com/",

  "applicationlistenport": "8080"
}
