{
  "dbhost": "localhost",
  "dbuser": "zander",
  "dbpassword": "Passwordzander321",
  "dbdatabase": "zander",

  "mailhost": "smtp.gmail.com",
  "mailport": "465",
  "mailsecure": "true",

  "mailservice": "gmail",
  "mailauthusername": "My Server",
  "mailauthuser": "server@gmail.com",
  "mailauthpass": "Passwordzander321"
}
