{
  "dbhost": "localhost",
  "dbuser": "zander",
  "dbpassword": "Passwordzander321",
  "dbdatabase": "zander",

  "token": "",

  "mailservice": "gmail",
  "mailauthusername": "My Server",
  "mailauthuser": "example@gmail.com",
  "mailauthpass": "Passwordzander321"
}
