{
  "dbhost": "localhost",
  "dbuser": "zander",
  "dbpassword": "Passwordzander321",
  "dbdatabase": "zander",

  "token": "TOKEN",
  "servicehost": "smtp.gmail.com",
  "serviceport": "465",
  "serviceauthuser": "support@gmail.com",
  "serviceauthpass": "password"
}
