<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style media="screen">
      .tablecontent {
        font-size: 15pt;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://i.imgur.com/Bb0APz9.png" alt="Server Logo" height="30px">
      </div>

      <h2>New Whitelist Application</h2>

      <table class="table">
        <tr>
          <td>Username:</td>
          <td>{{minecraftUsernameselector}}</td>
        </tr>
        <tr>
          <td>Discord Tag:</td>
          <td>{{discordtagselector}}</td>
        </tr>
        <tr>
          <td>How did you hear about us:</td>
          <td>{{howdidyouhearaboutusselector}}</td>
        </tr>
        <tr>
          <td>Any other information or comments:</td>
          <td>{{additionalinformationselector}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
