<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container" style="min-height:500px">
  <br><br><br><br>
  <div class="row">
    <div class="col">
      <h1>404</h1>
      <p>Oops, the eggs are still here and it looks like you've ended up in the wrong place..</p>
      <p>Head back to the Home page for safe passage</p>
      <a href="/"><button type="button" class="btn btn-primary">Return To Home</button></a>

    </div>
    <div class="col">
      <img class="bouncing" src="https://pngriver.com/wp-content/uploads/2018/04/Download-Egg-PNG.png" alt="" height="350px">
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
