<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<link rel="stylesheet" href="./assets/css/forums.css">

<div class="container text-center errorpage">
  <div class="">
    <h1><i class="fas fa-bug"></i></h1>
    <h1>Oh no! This page can not be found!</h1>

    <p>The page you are looking for doesn't actually exist, sorry.</p>

    <%= error %>
  </div>

  <div class="">
    <br>
    <a href="/"><button class="btn btn-primary" type="button" name="button">Return to Home</button></a> <a href="/issues"></a>
  </div>
</div>

<% include partials/footer.ejs %>
