<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<style media="screen">
  .jumbotron-image-header {
    background-image: url(./img/churchduringcovid.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-church"></i> Church During COVID</h1>
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    Don't see your church here? Email us over at <a href="mailto:support@craftingforchrist.net">support@craftingforchrist.net</a> or join our <a href="/discord">Discord</a> and let us know!<br><small>To be eligible your church must be either livestreaming or releasing a video/audio podcast onto a platform e.g. YouTube, Spotify, etc.</small>
  </div>

  <p>During this difficult time it is hard and tricky to gather together as God's people. We have collated a list of churches in our community that stream their services and post their sermons online.<br>Use this as a opportunity to continue to grow with God over this difficult time.</p>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/shellharbourcityanglican.jpg" height="200px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Shellharbour City Anglican Church</h1>
      <p class="badge badge-danger">Livestream</p>
      <p class="badge badge-primary">Audio</p>
      <p>We are a Bible believing church committed to following Jesus in all the joys and challenges of life. Whatever your background, we hope this is a church where you can feel at home. In these anxious times of COVID-19 and social distancing and isolation we continue to be thankful to God for the hope we have in Christ.<br><small>Livestreaming every on Facebook Sunday at 9AM and 6PM AEST<br>Sermons avaliable on Audio podcast platforms (Apple Podcast, Google Podcast and Spotify).</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Livestream</h4>
          <a href="https://www.facebook.com/shellharbourcityanglicanchurch/" target="_blank"><img src="./img/icons/facebook.png" height="50px"></a>
        </div>
        <div class="col-sm">
          <h4>Sermon Podcast</h4>
          <a href="https://open.spotify.com/show/1fhDneyxygOFbMCC4UAQpJ" target="_blank"><img src="./img/icons/spotify.png" height="50px"></a>
          <a href="https://itunes.apple.com/au/podcast/shellharbour-city-anglican/id1401979107?mt=2" target="_blank"><img src="./img/icons/applepodcast.png" height="50px"></a>
          <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80YTM4YWYwL3BvZGNhc3QvcnNz" target="_blank"><img src="./img/icons/googlepodcast.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/followbaptist.png" height="180px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Follow Baptist Church</h1>
      <p class="badge badge-danger">Livestream</p>
      <p class="badge badge-primary">Audio</p>
      <p>Our Vision is Jesus! Our Mission is to Follow Him, in our Community, for His Glory!<br><small>Livestreaming every Sunday at 10:30AM AEST</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Livestream</h4>
          <a href="https://follow.online.church/" target="_blank"><img src="./img/churchlogo/followbaptist.png" height="50px"></a>
        </div>
        <div class="col-sm">
          <h4>Sermon Podcast</h4>
          <a href="https://open.spotify.com/show/2PRpu5ZtGy7juQU3wHnu91" target="_blank"><img src="./img/icons/spotify.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/holytrinitywentworth.png" height="180px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Holy Trinity Wentworth Falls</h1>
      <p class="badge badge-danger">Livestream</p>
      <p class="badge badge-primary">Audio</p>
      <p>Holy Trinity is a local church community who love gathering to read the Bible, growing in our love for Jesus, and serving each other and the upper mountains.<br><small>Streaming Sunday services (8:30am, 10:30am, 5pm AEST).</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Livestream</h4>
          <a href="https://www.youtube.com/channel/UCC7OxoXkvMZD4odnqWa8GTg/" target="_blank"><img src="./img/icons/youtube.png" height="50px"></a>
        </div>
        <div class="col-sm">
          <h4>Sermon Podcast</h4>
          <a href="https://podcasts.apple.com/au/podcast/holy-trinity-8-20am/id965514862" target="_blank"><img src="./img/icons/applepodcast.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/willoughbyparkanglicanchurch.png" height="180px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Willoughby Park Anglican Church</h1>
      <p class="badge badge-danger">Livestream</p>
      <p>We welcome you to join us, whether you’re a skeptic, a keen or lapsed Christian, or a member of another religion or denomination. Jesus invites you, as he invites all: ‘Come, follow me’ (Matthew 4:19; 10:38; 19:21, etc). Our church services will not be meeting in our physical buildings but will be available to join online.<br><small>Streaming Sunday services (9:30am AEST).</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Livestream</h4>
          <a href="https://www.youtube.com/channel/UCN888ZrZ9V823PorufALl3g" target="_blank"><img src="./img/icons/youtube.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/narrabeenbaptistchurch.png" height="75px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Narrabeen Baptist Church</h1>
      <p class="badge badge-info">Podcast</p>
      <p>NBC is God’s family on mission making disciples of Jesus.<br>Because Jesus is Lord, we will be intentional in both evangelism and discipleship. We want to be used by God to reach the lost with the Gospel — by all means possible [1 Cor. 9:22] – so that lives will be transformed because people come to know Jesus. And we want to grow in Him and see continuing transformation, development and ministry among Jesus’ followers.<br>We will continue to gather online to pray, read the Word and encourage one another.<br><small>Releasing Sunday services.</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Videos</h4>
          <a href="https://www.youtube.com/channel/UCiIjLgjcYN96UCIkC7EkupA" target="_blank"><img src="./img/icons/youtube.png" height="50px"></a>
        </div>
        <div class="col-sm">
          <h4>Sermon Podcast</h4>
          <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cubmFycmFiZWVuYmFwdGlzdC5vcmcuYXUvc2VybW9ucz9mb3JtYXQ9cnNz?sa=X&ved=2ahUKEwjP85n7z5DsAhVX7zgGHUYMCyMQ4aUDegQIARAC&hl=en-AU" target="_blank"><img src="./img/icons/googlepodcast.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-">
      <img src="./img/churchlogo/keysvineyardcommunitychurch.jpg" height="165px" draggable="false">
    </div>
    <div class="col-sm">
      <h1>Keys Vineyard Community Church</h1>
      <p class="badge badge-danger">Livestream</p>
      <p class="badge badge-primary">Audio</p>
      <p>More than 35 years ago a handful of people launched the Keys Vineyard Community Church with a dream of seeing people experience the love of God and the life-changing power of Jesus Christ. Today that vision lives on as hundreds of people from all walks of life come together at the Vineyard to worship God, learn about His love, and share it with our community.<br><small>Streaming Sunday services (Saturday at 6:30pm and Sunday at 8:00am, 9:30am, 11:00am EDT).</small></p>

      <div class="row">
        <div class="col-sm">
          <h4>Livestream</h4>
          <a href="https://www.youtube.com/channel/UCzFjwKKqCpet0p7rOzEI4yQ" target="_blank"><img src="./img/icons/youtube.png" height="50px"></a>
          <a href="https://www.facebook.com/KeysVineyard/" target="_blank"><img src="./img/icons/facebook.png" height="50px"></a>
        </div>
        <div class="col-sm">
          <h4>Sermon Podcast</h4>
          <a href="https://podcasts.apple.com/us/podcast/keys-vineyard/id499123585" target="_blank"><img src="./img/icons/applepodcast.png" height="50px"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>

</div>

<%- include("./partials/footer.ejs") %>
