<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Contact</h1>
      <p class="lead">Do you have any questions? Please do not hesitate to contact us directly!</p>
    </div>
  </div>

  <div class="container">
    <section class="mb-4">
      <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
          <form class="contact-form" name="contact-form" action="/contact" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="name" name="name" class="form-control">
                  <label for="name" class="">Username/Name</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="email" name="email" class="form-control">
                  <label for="email" class="">Email</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="subject" name="subject" class="form-control">
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="md-form">
                  <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea"></textarea>
                  <label for="message">Message</label>
                </div>
              </div>
            </div>

            <div class="text-center text-md-left">
              <input class="btn btn-primary" type="submit" name="" value="Send">
            </div>
           </form>
        </div>

        <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <p><a href="mailto:<%= email %>"><%= email %></a></p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<% include partials/footer.ejs %>
