<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<link rel="stylesheet" href="./assets/css/forums.css">

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-comments"></i> Forums</h1>
      <p class="lead">Get to know the community and chat!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h6>Recent Discussions</h6>
        <small>My Discussions</small>
      <br><br>

      <h6>Server</h6>
        <small>Announcements</small><br>
        <small>Server Feedback</small><br>
        <small>Guides & Support</small>
      <br><br>

      <h6>Community</h6>
        <small>Lounge</small>
        <small>Introduce Yourself</small><br>
        <small>Community Creations</small><br>
        <small>Off Topic</small>
      <br><br>

      <h6>Events</h6>
        <small>Information</small><br>
        <small>Discussion</small>
      <br><br>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Activity</th>
            <th scope="col">Latest Post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a class="forumtitle" href="#">My 1st Forum Post</a><br>
              <small class="forumextras"><i class="fas fa-pencil-alt"></i> <a href="#">shadowolfyt</a> <i class="far fa-clock"></i> 4 months ago <i class="far fa-folder-open"></i> Community <i class="fas fa-arrow-right"></i> Introduce Yourself</small>
            </td>
            <td class="forumviews">100 views</td>
            <td class="latestpost">
              <a href="#"><img style="border-radius: 5px;" src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" alt="" height="35px"></a><br>
              <a href="#" style="font-size:10pt">shadowolfyt</a>
              <p style="font-size:8pt; color:gray">2 days ago</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
