<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Giveaway</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Terms & Conditions
    </div>
    <div class="card-body">
      <p class="card-text">The promoter is Crafting for Christ. The competition is open to all people except voluntary staff members on the server. There is no entry fee and no purchase necessary to enter this competition.</p>
      <p class="card-text">By entering this competition, the entrant is indicating their agreement to be bound by these Terms & Conditions.<br>The route to entry for the competition and details of how to enter are via <a href="<%= giveaway %>"><%= giveaway %></a> and our Social Media platforms (Facebook, Instagram, Twitter & Discord.)</p>
      <p class="card-text">Only one entry will be accepted per person. Multiple entries from the same person will be disqualified.<br>Closing date for entries will be <b>11:59PM AEST 30th April 2020</b>. After this date, no further entries to the competition will be permitted.<br>No responsibility can be accepted for entries not received for whatever reason.</p>
      <p class="card-text">The promoter reserves the right to cancel or amend the competition and these terms and conditions without notice. Any changes to the competition will be notified to entrants as soon as possible by the promoter.<br><b>The prize is as follows: Minecraft Dungeons - Standard Edition. Since we cannot supply a direct copy of the prize, we will give you the value of the prize in cash to buy which can only be obtained via PayPal.</b><br>Winners will be chosen: at random by software, from all entries received and verified by Crafting For Christ.</p>
      <p class="card-text">The winner will be notified by email and/or DM on Twitter, Facebook, Discord within 28 days of the closing date. If the winner cannot be contacted or does not claim the prize within 14 days of notification, we reserve the right to withdraw the prize from the winner and pick a replacement winner.</p>
      <p class="card-text">Crafting For Christ will notify the winner when and where the prize can be collected.<br>Crafting For Christ also reserves the right to cancel the competition if circumstances arise outside of its control.<br>Crafting For Christ shall have the right, at its sole discretion and at any time, to change or modify these terms and conditions, such change shall be effective immediately upon posting to this webpage.</p>

      <a href="#" class="btn btn-primary">Continue to Giveaway</a>
    </div>
  </div>
  <br>
</div>

<% include partials/footer.ejs %>
