<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-video-header my-4 home-jumbo-header">
    <video id="bg-video" autoplay="true" loop="loop" preload="metadata" muted="muted">
        <source src="<%= webvideobackground %>" type="video/mp4" />
    </video>
    <div class="center jumbovidtext text-white">
      <h1 class="display-3"><%= servername %></h1>
      <p class="lead"><%= description %></p>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fas fa-angle-double-right"></i> Apply</button>
    </div>

    <div class="container text-white">
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog colourblack" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Apply</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Connect to our server using the IP address below:<br>
              <div class="text-center" id="ip">
                <input autofocus="autofocus" onfocus="this.select()" id="ip" type="text" class="form-control disabled" readonly="" value="<%= serverip %>">
              </div> -->
              <small class="form-text text-muted">You can't join the server without applying. Apply for access <a href="/apply">here.</a></small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> Our website is currently in development stages and may be a little buggy and broken!<br>Please report any issues you see to the <a href="/issues">issue tracker</a>.
  </div>

  <% include ./partials/messages.ejs %>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Issues & Bugs</h4>
          <p class="card-text">When you're developing software and programs, anything and everything is bound to go wrong! If you see something, say something by creating an issue on the issue tracker.</p>
        </div>
        <div class="card-footer">
          <a href="/issues" class="btn btn-primary"><i class="fas fa-bug"></i> Issue Tracker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-comments"></i></h1>
          <h4 class="card-title">Forums</h4>
          <p class="card-text">Stay in touch with the community in conversation and don't miss the Server announcements and conversation by joining our forums.</p>
        </div>
        <div class="card-footer">
          <a href="/forums" class="btn btn-primary"><i class="fas fa-comments"></i> Forums</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fab fa-discord"></i></h1>
          <h4 class="card-title">Community</h4>
          <p class="card-text">Talk to and get to know the community of awesome people! Join the Discord to also stay informed about annoucements and upcoming events.</p>
        </div>
        <div class="card-footer">
          <a href="/discord" class="btn btn-primary"><i class="fab fa-discord"></i> Discord</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
