<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">zander</h1>
      <p class="lead">This is a Minecraft Plugin that is integrated with Minecraft, Discord, Website and a MySQL Database.</p>
    </div>
  </div>

  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> This site is in development stages and maybe a little buggy. Please report any issues you see to the <a href="/issues">GitHub Issue tracker</a>.
  </div>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title">Issues & Bugs</h4>
          <p class="card-text">When you're developing software and programs, anything and everything is bound to go wrong! If you see something, say something by creating an issue on the issue tracker.</p>
        </div>
        <div class="card-footer">
          <a href="/issues" class="btn btn-primary"><i class="fab fa-github"></i> Issue Tracker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title">Players</h4>
          <p class="card-text">Get to know the players and see their stats! Compare stats and see who is better, who hasn't died the most?</p>
        </div>
        <div class="card-footer">
          <a href="/players" class="btn btn-primary"><i class="fas fa-users"></i> Players</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title">Community</h4>
          <p class="card-text">Talk to and get to know the community of awesome people! Join the Discord to also stay informed about annoucements and upcoming events.</p>
        </div>
        <div class="card-footer">
          <a href="/discord" class="btn btn-primary"><i class="fab fa-discord"></i> Discord</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
