<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

    <div class="container container-main">
      <header class="jumbotron my-4 home-jumbo">
        <h1 class="display-3">zander</h1>
        <p class="lead">An Open Source Minecraft Java plugin, developed with the Spigot library.<br>zander integrates Minecraft, Discord, a MySQL database and a website to work together.</p>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#playPop"><a href="https://github.com/shadowolfyt/zander">&raquo; GitHub Project</a></button>
      </header>

      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <img class="card-img-top" src="assets/die.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Issues</h4>
              <p class="card-text">Can you see something that I can't? Is something not working? Submit an issue on the issue tracker.</p>
            </div>
            <div class="card-footer">
              <a href="https://github.com/shadowolfyt/zander/issues" class="btn btn-primary">&raquo; Issue Tracker</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <img class="card-img-top" src="assets/trophy.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Stats</h4>
              <p class="card-text"><b>This feature is not yet implemented.</b><br>Keep an eye out on this page.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">&raquo; Stats</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <img class="card-img-top" src="assets/global.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Live Map</h4>
              <p class="card-text"><b>This feature is not yet implemented.</b><br>The live map is powered by DynMap.<br>Keep an eye out on this page.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">&raquo; Map</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <img class="card-img-top" src="assets/speaker.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Discord</h4>
              <p class="card-text">Want to use zander but don't know where to start or have problems? Join the Discord.</p>
            </div>
            <div class="card-footer">
                <a href="https://discord.gg/r4rpaZX"><button type="button" class="btn btn-primary">&raquo; Discord</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer.ejs %>
