<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-play"></i> Play</h1>
    </div>
  </div>

  <% if (!objdata[0]) { %>
    <% include partials/micros/noservers.ejs %>
  <% } else { %>
    <div class="row">
      <div class="col-sm">
        <% objdata.forEach(function (data) { %>
          <div class="card" style="width: 20rem; min-height:50px; display:inline-block;">
            <div class="card-body">
              <h4 class="card-title"><%= data.name %></h4>
              <h5><%= data.ipaddress %></h5>
              <p style="font-size:10pt"><%= data.description %></p>
              <% if (data.disclaimer) { %>
                <small class="text-muted"><%= data.disclaimer %></small>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <br>
  <% } %>

</div>

<% include partials/footer.ejs %>
