<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-play"></i> Play</h1>
    </div>
  </div>

  <% if (!objdata[0]) { %>
    <% include partials/micros/noservers.ejs %>
  <% } else { %>
    <% objdata.forEach(function (data) { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= data.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= data.description %></h6>
          <p class="card-text"><%= data.ipaddress %></p>
          <p class="card-text" style="font-size:30pt">0 / 0</p>
        </div>
      </div>
      <br>
    <% }) %>
  <% } %>
</div>

<% include partials/footer.ejs %>
