<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-gavel"></i> Punishments</h1>
      <p class="lead">See who has been doing the naughty..</p>
    </div>
  </div>

  <% include partials/punishment-table.ejs %>
</div>

<% include partials/footer.ejs %>
