<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Rules</h1>
      <p class="lead">Some nice rules to abide by, to make sure everyone has a good experience.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 mb-4">
      <div class="card card-home markdown-style">
        <zero-md src="<%= rulesmd %>"></zero-md>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
