<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <!-- <video preload autoplay muted loop class="videohandler">
      <source src="/assets/img/backdrop.mp4" type="video/mp4">
    </video> -->

    <div class="container text-white">
      <h1 class="display-3">Rules</h1>
      <p class="lead">Some nice rules to abide by, to make sure everyone has a good experience.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 mb-4">
      <div class="card card-home">

        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


        <div class="card-body" id="markdown-content">
          <script>
            document.getElementById('markdown-content').innerHTML = marked('https://raw.githubusercontent.com/subtle-christrian-minecraft/Rules/master/README.md');
          </script>



          <!-- <h4 class="card-title">Issues & Bugs</h4>
          <p class="card-text">When you're developing software and programs, anything and everything is bound to go wrong! If you see something, say something by creating an issue on the issue tracker.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
