<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-5">Registration Confirmation</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p>Hello <b><%= username %></b>,</p>
      <p>Thank you so much for registeration.</p>
      
      <div class="alert alert-success" role="alert">
        <p>To connect to our servers use <b>play.craftingforchrist.net</b></p>
        <p>Get to know the community by joining our forums over at <a href="https://forums.craftingforchrist.net/">https://forums.craftingforchrist.net/</a></p>
      </div>

      <div class="alert alert-warning" role="alert">
        <p>If there are any issues logging in or you find that you are not whitelisted, that is an error on our end!!! Report any technical bugs to our GitHub <a href="http://craftingforchrist.net/issues">here</a> or talk to our staff on our Discord <a href="http://craftingforchrist.net/discord">here</a> or contact our Support team at <a href="mailto:support@craftingforchrist.net">support@craftingforchrist.net</a></p>
      </div>
    </div>
  </div>

  <% include ../../partials/email/footer.ejs %>
</div>
