<h1>New Member Application: {{ minecraftUsernameselector }}</h1>
<p>How did you hear about the server? {{ discordtagselector }}</p>
<p>How did you hear about the server? {{ howdidyouhearaboutusselector }}</p>
