<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><b>What is your Username?</b></td>
          <td><%= username %></td>
        </tr>
        <tr>
          <td><b>What is your Discord Tag?</b></td>
          <td><%= discordtag %></td>
        </tr>
        <tr>
          <td><b>How did you hear about us?</b></td>
          <td><%= howdidyouhearaboutus %></td>
        </tr>
        <tr>
          <td><b>Any other information or comments?</b></td>
          <td><%= additionalinformation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
