<div class="card">
  <div class="card-body">
    <p>Hello <b><%= username %></b>,</p>
    <p>This is an automated email to let you know that we have reviewed your application, reading it many times over and over.. We have accepted your application to join our server!</p>

    <div class="alert alert-primary" role="alert">
      The server address is <%= serverip %>.
    </div>
    <div class="alert alert-danger" role="alert">
      If you are having issues logging in or are not whitelisted, it's our fault! Let us know by pinging a Administrator or Developer or contact Support <a href="mailto:<%= contactemail %>">here</a>.
    </div>
    <p>Get to know the community by joining our forums if you haven't already! You can join us over at <a href="https://forums.craftingforchrist.net">https://forums.craftingforchrist.net</a></p>
  </div>
</div>
