table thead {
  font-size: 11pt;
}

.forumtitle {
  font-size: 10pt;
}

.forumviews {
  font-size: 10pt;
}

.forumextras {
  font-size: 8pt;
  color: gray;
}

.forumextras a {
  color: gray;
}

.latestpost {
  position: relative;
  text-align: right;
}
