.jumbotron-image-header {
  position: relative;
  overflow: hidden;
  background-image: url(../img/background.jpg);
}

.credential-container {
  margin: 0 auto;
  width: 70%;
}

.card-home {
  height: 100%;
}

.markdown-style {
  padding: 20px;
}

.tab-pane {
  padding: 10px;
}

.mobstatdisplay {
  padding: 10px;
  line-height: 35px;
}

footer .card {
  background: rgba(0,0,0,0);
  border: none;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

nav #navCollapse {
    margin-right: 0;
    margin-left: auto;
}

.colourblack {
  color: black;
}

.profilenumber {
  font-size: 20pt;
  font-weight: bold;
}

.applyicons {
  font-size: 64pt;
}

.disablecard {
  opacity: 0.4;
}

.confirmpolicy {
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

#bg-video {
    top: 0px;
    left: 0px;
    position: absolute;
    width: inherit;
}
.jumbovidtext {
    z-index: 1;
    position: absolute;
}

.jumbotron-video-header {
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

footer li {
  font-size: 10pt;
  line-height: 20pt;
}
