.jumbotron {
  position: relative;
  overflow: hidden;
  background-image: url(../img/background.jpg);
}

.card-home {
  height: 100%;
}

.markdown-style {
  padding: 20px;
}

.tab-pane {
  padding: 10px;
}

/*
Video Handler (To be used)

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:150%;
  height:100%;
  object-fit: cover;
  opacity: 0.6;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
} */

.colour-custom {
  background-color: #3a99e8 !important;
}

footer .card {
  background: rgba(0,0,0,0);
  border: none;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

nav #navCollapse {
    margin-right: 0;
    margin-left: auto;
}