<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Plugin Development Log</h1>
      <p class="lead">All updates for the development of the server side plugin.</p>
    </div>
  </div>

  <% include ../partials/commit-table.ejs %>
</div>

<% include ../partials/footer.ejs %>
