<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><b>Username/Name</b></td>
          <td><%= nameselector %></td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td><%= emailselector %></td>
        </tr>
        <tr>
          <td><b>Subject</b></td>
          <td><%= subjectselector %></td>
        </tr>
        <tr>
          <td><b>Message</b></td>
          <td><%= messageselector %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
