<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><b>What is your Username?</b></td>
          <td><%= username %></td>
        </tr>
        <tr>
          <td><b>What type of feedback would you like to provide?</b></td>
          <td><%= feedbacktype %></td>
        </tr>
        <tr>
          <td><b>Please provide detail on your feedback.</b></td>
          <td><%= detailfeedback %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
