<footer class="text-center" style="padding:10px;">
  <h5>Crafting For Christ</h5>
  <h5>Our Platforms</h5>
  <a href="http://craftingforchrist.net/">Website</a>
  <a href="http://craftingforchrist.net/discord">Discord</a>
  <a href="https://twitter.com/craft4christmc">Twitter</a>
  <p>Need Support? Email <a href="mailto:support@craftingforchrist.net">support@craftingforchrist.net</a></p>
</footer>
