<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Apply</h1>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> If you are having issues applying, please contact us <a href="/contact">here</a>.
  </div>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title applyicons"><i class="fas fa-gamepad"></i></h4>
          <h2 class="card-title">Game Server</h2>
          <p class="card-text">Want to play on the server? You can apply to get your in-game whitelist application reviewed and get approved to join our awesome community!</p>
        </div>
        <div class="card-footer">
          <a href="/apply/game" class="btn btn-primary">Apply</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title applyicons "><i class="fas fa-video"></i></h4>
          <h2 class="card-title">Content Creator</h2>
          <p class="card-text">Do you create content for YouTube or Twitch? If your channel meets the criteria you can create content for our server! The content creators channel requirements can be seen <a href="#" data-toggle="modal" data-target="#contentcreatorsmdmodal">here</a>.</p>

            <div class="modal fade" id="contentcreatorsmdmodal" tabindex="-1" role="dialog" aria-labelledby="contentcreatorsmdmodaltitle" aria-hidden="true">
              <div class="modal-dialog modal-lg text-left" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="contentcreatorTitle">Content Creator Requirements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <zero-md src="<%= contentcreatorsmd %>"></zero-md>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary disablecard">Apply</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title applyicons"><i class="fas fa-code"></i></h4>
          <h2 class="card-title">Developer</h2>
          <p class="card-text">Do you know the code and want to get experience in working with an Open Source code project, apply for Developer! There is some criteria to meet experience wise, you can see that <a href="#" data-toggle="modal" data-target="#developersmdmodal">here</a>.</p>

            <div class="modal fade" id="developersmdmodal" tabindex="-1" role="dialog" aria-labelledby="developersmdmodaltitle" aria-hidden="true">
              <div class="modal-dialog modal-lg text-left" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="developerTitle">Developer Requirements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <zero-md src="<%= developersmd %>"></zero-md>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary disablecard">Apply</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
