<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-video"></i> Content Creator Application</h1>
    </div>
  </div>

  <div class="modal fade" id="contentcreatorsmdmodal" tabindex="-1" role="dialog" aria-labelledby="contentcreatorsmdmodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-lg text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contentcreatorTitle">Content Creator Requirements</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <zero-md src="<%= contentcreatorsmd %>"></zero-md>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> Before starting your application, ensure that you meet the Content Creator requirements. Click here for the <a href="#" data-toggle="modal" data-target="#contentcreatorsmdmodal">requirements</a>.
  </div>

  <script type="text/javascript">
    function showOtherDiv(divId, element) {
      document.getElementById(divId).style.display = element.value == 'Other' ? 'block' : 'none';
    };
  </script>

  <form action="/apply/creator" method="post">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="minecraftusername">What is your Username?</label>
          <input type="text" class="form-control" name="minecraftusername" placeholder="Steve" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="discordtag">What is your Discord Tag?</label>
          <input type="text" class="form-control" name="discordtag" placeholder="Steve#9212" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="contentplatform">What platform do you record/stream on?</label>
          <select class="form-control" name="contentplatform" onchange="showOtherDiv('otherplatform', this)" required>
            <option selected disabled>Select</option>
            <option name="YouTube">YouTube</option>
            <option name="Twitch">Twitch</option>
            <option name="Mixer">Mixer</option>
            <option name="Other">Other</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="channellink">What is the link for your channel?</label>
      <input type="text" class="form-control" name="channellink" required>
    </div>

    <div id="otherplatform" style="display:none">
      <div class="form-group">
        <label for="othercontentplatform">Which other service do you record/stream on?</label>
        <input type="text" class="form-control" name="othercontentplatform">
      </div>
      <div class="form-group">
        <label for="subscribercount">What is the amount of subscribers/followers you have?</label>
        <input type="text" class="form-control" name="subscribercount">
      </div>
    </div>

    <div class="form-group">
      <label for="additionalinformation">Any other additional information?</label>
      <input type="text" class="form-control" name="additionalinformation">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

<% include ../partials/footer.ejs %>
