<div class="row" style="padding:40px; margin:0 auto; width:500px; text-align:center;">
  <div class="">
    <i class="fas fa-sad-tear" style="font-size:150px"></i>
    <h1>No Servers Found.</h1>
    <p>We couldn't find any Servers.</p>
  </div>
</div>
