<div class="row" style="padding:40px; margin:0 auto; width:600px; text-align:center;">
  <div class="">
    <i class="fas fa-sad-tear" style="font-size:150px"></i>
    <h1>No Upcoming Events.</h1>
    <p>We currently don't have any events upcoming at the moment!<br>Have an idea for a possible community event?<br>Join our Community Discord <a href="/discord">here</a> or contact our Support email <a href="mailto:<%= contactemail %>">here</a>.</p>
  </div>
</div>
