<%- include("../partials/header.ejs") %>
<%- include("../partials/navigation.ejs") %>

<div class="container" style="min-height:500px">
  <br><br><br><br>
  <div class="row">
    <div class="col">
      <h1>404</h1>
      <p>Oops, the eggs are still here and it looks like you've ended up in the wrong basket..</p>
      <p>Head back to the Home page for safe passage</p>
      <a href="/"><button type="button" class="btn btn-primary">Return To Home</button></a>

    </div>
    <div class="col">
      <img class="bouncing" src="<%= erreggs %>" alt="The 404 eggs." height="350px">
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <small style="font-size:1pt;">Billy the 404 Chicken</small>
</div>

<%- include("../partials/footer.ejs") %>
