<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <% include ../../partials/email/jumboheader.ejs %>
    </div>
    <% include ../../partials/email/apply/apply-creator.ejs %>
    <% include ../../partials/email/footer.ejs %>
  </body>
</html>
