<h3>Application</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>shadowolfyt</td>
      <td style="font-size:13px;">29th of September 2019</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">View</button>
        <button type="button" class="btn btn-success btn-sm">Accept</button>
        <button type="button" class="btn btn-danger btn-sm">Deny</button>
      </td>
    </tr>
  </tbody>
</table>
