<h3>Broadcast</h3>
<div class="alert alert-warning" role="alert">
  Some fields are disabled, since they have not been implemented in Development.
</div>
<form action="/admin" method="post">
  <input type="hidden" name="action" value="broadcast">
  <div class="form-group">
    <label for="method">Select a Broadcast Method</label>
    <select class="custom-select" name="method" required>
      <option value="" selected disabled>Select a Platform</option>
      <option value="all" disabled>All Platforms</option>
      <option value="discord">Just Discord</option>
      <option value="server" disabled>Just Server</option>
    </select>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" name="message" rows="3"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
