<h3>Punishment</h3>
<div class="alert alert-warning" role="alert">
  Some fields are disabled, since they have not been implemented in Development.
</div>
<form action="/admin" method="post">
  <input type="hidden" name="action" value="punish">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" required>
  </div>
  <div class="form-group">
    <label for="platform">Select a Platform</label>
    <select class="custom-select" name="platform" required>
      <option value="" selected disabled>Select a Platform</option>
      <option value="all">All Platforms</option>
      <option value="discord">Just Discord</option>
      <option value="server">Just Server</option>
    </select>
  </div>
  <div class="form-group">
    <label for="method">Select a Method</label>
    <select class="custom-select" name="method" required>
      <option value="" selected disabled>Select a Method</option>
      <option value="warn">Warn</option>
      <option value="kick">Kick</option>
      <option value="tempban" disabled>Temporarily Ban</option>
      <option value="ban">Ban</option>
      <option value="ipban" disabled>IP Address Ban</option>
    </select>
  </div>
  <div class="form-group">
    <label for="reason">Reason</label>
    <input type="text" class="form-control" name="reason">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
